@import url('https://fonts.googleapis.com/css2?family=Overpass:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,100;1,200;1,300;1,400;1,500&family=Spartan:wght@100;200;300;400;600;700;800;900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    padding: 1rem 0;
}

a {
    text-decoration: black;
    color: rgb(255, 255, 255);
    font-size: 1rem;
}

.inercontainer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 3rem;
    padding-bottom: 3rem;
}

#logo {
    margin-right: 20px;
    color: white;
    font-size: 3rem;
}

.nav-links {
    display: flex;
    list-style: none;
    margin-right: 20px;
    margin-left: 20px;
}

.single-link {
    margin-right: 20px;
    margin-left: 20px;
    text-decoration: none;
}

.single-link:hover {
    transform: scale(1.1, 1.1);
}

.textcontainer {
    display: flex;
    align-items: center;
}

.main-header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main-header p {
    margin-top: 2rem;
}

.main-header h1 {
    margin-top: 3rem;
}

.btn-head-container {
    margin-top: 2rem;
    padding-bottom: 5rem;
}

#Subtitles {
    text-align: center;
    margin-top: 5rem;
    font-size: 2rem;
}

.header-container {
    padding: 0 8rem;
    display: flex;
    align-items: center;
}

#imagesec3 {
    right: -24.5rem;
}

.header-container h3 {
    margin-top: 2.5rem;
}

.header-container p {
    margin-top: 1.5rem;
}

.header-container2 {
    padding-left: 2rem;
    padding-right: 2rem;
}

button {
    padding: 0.6rem 1.2rem;
    border-radius: 1.2rem;
    border: 0;
    background-color: rgb(255, 255, 255);
    margin: 0.5rem;
    z-index: 100;
    font-size: 1.1rem;
}

header {
    background: linear-gradient(90deg, rgb(245, 21, 36) 0%, rgba(255, 122, 133, 1) 100%);
    border-radius: 0rem 0rem 0rem 5rem;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 30px 30px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

#image {
    position: relative;
    right: 8.5rem;
    top: 5rem;
}

.login {
    padding: 0.6rem 1.2rem;
    border-radius: 1.2rem;
    border: 1px;
    background-color: transparent;
    border: white;
    margin: 0.5rem;
    z-index: 100;
    color: white;
    font-size: 1.1rem;
}

.header-container3 {
    padding: 0 8rem;
    display: flex;
    align-items: center;
    background: linear-gradient(90deg, rgb(245, 21, 36) 0%, rgba(255, 122, 133, 1) 100%);
    border-radius: 0rem 5rem 0rem 5rem;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 30px 30px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.header-container3 h3 {
    margin-top: 2.5rem;
}

.header-container3 p {
    margin-top: 1.5rem;
}

.header-container3:hover {
    box-shadow: rgba(240, 1, 1, 0.25) 0px 30px 30px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

button:hover {
    transform: scale(1.1, 1.1);
}

.header-container4 {
    position: absolute;
}

#imagesec1 {
    position: relative;
    right: -24.5rem;
}

#logo2 {
    color: white;
    margin-left: 5rem;
    font-size: 3rem;
}

footer {
    background-color: rgb(1, 4, 41);
    border-radius: 0rem 5rem 0rem 0rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    padding-top: 3rem;
    padding-bottom: 4rem;
    justify-items: center;
}

.footerlinks-links1 {
    font-size: 3rem;
    text-decoration: none;
}

.first-link {
    margin-bottom: 4rem;
    text-decoration: none;
    list-style: none;
    font-size: 2rem;
}

.secondary {
    margin-bottom: 0.75rem;
    text-decoration: none;
    list-style: none;
    font-size: 2rem;
}